/.vs
/Scraps/obj
/bin
/obj
troubles.txt

/Scraps/bin
/Scraps.Core/bin
/Scraps.Tests/bin
/Scraps.Import/bin
/Scraps.Export/bin
/Scraps.Security/bin
/Scraps.UI.WinForms/bin
/Scraps.Database.MSSQL/bin

/Scraps/obj
/Scraps.Core/obj
/Scraps.Tests/obj
/Scraps.Import/obj
/Scraps.Export/obj
/Scraps.Security/obj
/Scraps.UI.WinForms/obj
/Scraps.Database.MSSQL/obj

/Scraps/.vs
/Scraps.Core/.vs
/Scraps.Tests/.vs
/Scraps.Import/.vs
/Scraps.Export/.vs
/Scraps.Security/.vs
/Scraps.UI.WinForms/.vs
/Scraps.Database.MSSQL/.vs
/packages
/NuGet
publish-nuget.bat
