# Visual Studio
/.vs
*.user
*.suo
.vscode/
launchSettings.json

# Build outputs
/bin
/obj
/packages
/NuGet

# Project-specific
troubles.txt
publish-nuget.bat
/Scraps.Core/bin
/Scraps.Core/obj
/Scraps.Database.MSSQL/bin
/Scraps.Database.MSSQL/obj
/Scraps.Database/bin
/Scraps.Database/obj
/Scraps.Database/obj
/Scraps.Export/bin
/Scraps.Export/obj
/Scraps.Import/bin
/Scraps.Import/obj
/Scraps.Security/bin
/Scraps.Security/obj
/Scraps.Tests/bin
/Scraps.Tests/obj
/Scraps.UI.WinForms/bin
/Scraps.UI.WinForms/obj
/Scraps.Tests/.vs
/Scraps.Database/obj
/Scraps.Database.LocalFiles/bin
/Scraps.Database.LocalFiles/obj
